.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px;
    background-color: #d9534f;
    border-bottom: 1px solid #e9ecef;
    height: 80px;
    color: white;
};


