.botao {
    background-color: #d9534f;
    border: none;
    padding: 15px 30px;
    margin: 15px;
    border-radius: 8px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 200px;
}

/* Efeito de hover nos botões */
.botao:hover {
    background-color: #c9302c;
    transform: scale(1.1);
}
.centro {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 25px;
    line-height: 1.6;
}